<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>私人网盘</title>

<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>


<div class="materialContainer">
	<div class="box" id="loginApp">
		<div class="title">网盘登录</div>
		<div class="input">
			<label for="name">用户名</label>
			<input type="text" v-model="userName" id="name" >
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="pass">密码</label>
			<input type="password" name="pass" id="pass" v-model="password">
			<span class="spin"></span>
		</div>
		<div class="button login">
			<button @click="login">
				<span>登录</span>
				<i class="fa fa-check"></i>
			</button>
		</div>
		<a href="javascript:" class="pass-forgot">忘记密码？</a>
	</div>

	<div class="overbox" id="registerApp">
		<div class="material-button alt-2">
			<span class="shape"></span>
		</div>
		<div class="title">网盘注册</div>
		<div class="input">
			<label for="regname">用户名</label>
			<input type="text" name="regname" id="regname" v-model="userName">
			<span class="spin"></span>
		</div>
		<div class="input">
			<label for="regpass">密码</label>
			<input type="password" name="regpass" id="regpass" v-model="password">
			<span class="spin"></span>
		</div>
		<div class="input">
		<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		      <input class="form-control" placeholder="请选择头像" type="file" name="headPortrait" @change="getImage($event)"/>
		</div>
		<div class="button">
			<button @click="register">
				<span>注册</span>
			</button>
		</div>
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/vue@2.6.11.js"></script>
<script src="js/axios.min.js"></script>
<script>
	var loginVm = new Vue({
		el: '#loginApp',
		data: {
			userName: '',
			password:''
		},
		//在`methods`对象中定义方法
		methods:{
			login: function () {
				axios({
					method: 'post',
					url : '/cloud/login',
					data: loginVm.data
				}).then(function (response) {
					console.log(response.status);
					console.log(response.msg);
				});
			}
		}
	})

	var registerVm = new Vue({
		el: '#registerApp',
		data: {
			userName: '',
			password: '',
			image: ''
		},
		methods: {
			register: function () {
				//传图片要使用formData格式
				var formData = new FormData();
				formData.append("userName",this.userName);
				formData.append("password",this.password);
				formData.append("image",this.image);
				axios({
					method: 'post',
					url: '/cloud/register',
					data: formData
				}).then(function (response) {
					console.log(response.data);
					if(response.data.code === 0){
						location.href = "/cloud/login"
					}
					else if (response.data.code === 1){
						alert(response.data.message);
					}
					else
						alert(response.data.data.fieldErrors.userName + '\n' + response.data.data.fieldErrors.password);
				})
			},

			//图片不能使用双向绑定方式,要使用原生dom获取input中的图片
			getImage: function (event) {
				this.image = event.target.files[0];
			}
		}
	})
</script>

</body>
</html>