<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
	<title>36-604网盘-我的文档</title>

	<link rel="stylesheet" href="static/u-admin/dist/modules/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

	<link rel="stylesheet" href="static/u-admin/dist/modules/summernote/summernote-lite.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/css/demo.css">
	<link rel="stylesheet" href="static/u-admin/dist/css/style.css">
	<link rel="stylesheet" href="static/plug-ins/BeAlert/BeAlert.css">
	<link rel="stylesheet" href="static/plug-ins/context-menu/css/contextMenu.css">
	<style>
		.files-items{
			margin-top: -20px;
			border-bottom: 1px dashed #bdc3c7;
			border-top: 1px dashed #bdc3c7;
		}
		.files-items:hover{
			background: #F4FBFF;
		}
	</style>

</head>

<body>
<div id="app">
	<div class="main-wrapper">
		<div class="navbar-bg"></div>
		<div th:replace="commons/bar::#top"></div>
		<div th:replace="commons/bar:: sidebar(currUri='doc')"></div>

		<div class="main-content">
			<section class="section">
				<h1 class="section-header">
					<div><i class="ion ion-folder"></i> 我的文档</div>
				</h1>
				<div class="row" style="margin-top: -10px;">
						<div class="col-12 col-sm-12 col-lg-12 table-responsive">
							<table class="table tab-bordered text-nowrap" id="files-table">
								<tr id="files-table-title" class="empty-space" v-if="files != null">
									<th></th>
									<th>名称</th>
									<th>类型</th>
									<th>扩展名</th>
									<th>大小</th>
									<th>下载次数</th>
									<th>上传时间</th>
									<th style="text-align: center">更多操作</th>
								</tr>
								<tr v-for="f in files" class="files-items  files">
									<td><span style="display: none" ></span>
										<i style="font-size: 24px;color: #3498db"  class="icon ion-document-text"></i>
									</td>
									<td>
										<a  :href="'/cloud/downloadFile?fid='+ f.myFileId" style="font-weight: 700;color: black" v-text="f.myFileName"></a>
									</td>
									<td style="font-weight: 300">文档</td>

									<td style="font-weight: 300">{{f.postfix}}</td>

									<template v-if="f.size >= 1024 ">
										<td style="font-weight: 300">{{f.size/1024 | numFilter }}MB</td>
									</template>

									<template v-if="f.size < 1024 ">
										<td style="font-weight: 300">{{f.size +'KB'}}</td>
									</template>

									<td style="font-weight: 300">{{f.downloadTime}}次</td>
									<td style="font-weight: 300">{{f.uploadTime}}</td>
									<td>
										<a class="btn btn-default" href="#" role="button">重命名</a>
										<a class="btn btn-default" href="#" role="button">删除</a>
										<a class="btn btn-default" href="#" role="button">分享</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				<div class="row" v-if="files===null || files.length===0">
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="alert alert-primary alert-has-icon alert-dismissible show fade">
							<div class="alert-icon"><i class="ion ion-ios-lightbulb-outline"></i></div>
							<div class="alert-body">
								<button class="close" data-dismiss="alert">
									<span>×</span>
								</button>
								<div class="alert-title">这里空空的，什么都没有..</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<span id="tarFile" style="display: none"></span>
		</div>
		<div th:replace="commons/bar::#footer"></div>
	</div>
</div>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(function () {
		$('.files').dblclick(function () {
			let id = $(this).children("td").children("span").html();
			alert(id);
			var location = window.location.href;
			let strings = location.split("moti-cloud");
			if (id != ""){
				window.location.href = strings[0]+"moti-cloud/downloadFile?time="+new Date().getTime()+"&tip="+Math.random()*1000000+"&fId="+id;
			}else{
				return;
			}
		});
		$('.files').hover(function () {
			let id = $(this).children("td").children("span").html();
			$('#tarFile').html(id);
			$(this).siblings().removeClass('flag');
			$(this).addClass('flag');
		},function () {
		});
		function downloadFile() {
			let id = $(this).children("td").children("span").html();
			var location = window.location.href;
			let strings = location.split("moti-cloud");
			if (id != ""){
				window.location.href = strings[0]+"moti-cloud/downloadFile?time="+new Date().getTime()+"&tip="+Math.random()*1000000+"&fId="+id;
			}else{
				return;
			}
		}
	});
</script>
<script src="static/plug-ins/context-menu/js/jquery.contextMenu.min.js"></script>
<script src="static/plug-ins/BeAlert/BeAlert.js"></script>

<script src="static/js/vue@2.6.11.js"></script>
<script src="static/js/axios.min.js"></script>
<script>
	let vm = new Vue({
		el: '#app',
		data: {
			status: '',
			files: ''
		},
		mounted: function () {
			this.load();
			this.getFilesByType();
		},
		methods: {
			load: function () {
				axios.get("/cloud/fileStoreStatus").then(function (response) {
					vm.status = response.data.data;
				})
			},

			getFilesByType: function(){
				axios.get("/cloud/getFilesByType?type=1").then(function (response) {
					vm.files = response.data.data;
				})
			}
		},
		filters: {
			numFilter(value) {
				let realVal = ''
				if (!isNaN(value) && value !== '') {
					// 截取当前数据到小数点后两位
					realVal = parseFloat(value).toFixed(2)
				} else {
					realVal = '--'
				}
				return realVal
			}
		}
		})
</script>
<script>
		$(".files").contextMenu({
			width: 100, // width
			itemHeight: 30, // 菜单项height
			bgColor: "#fff", // 背景颜色
			color: "#333", // 字体颜色
			fontSize: 12, // 字体大小
			hoverBgColor: "#3498db", // hover背景颜色
			target: function (ele) { // 当前元素
				console.log(ele);
			},
			menu: [{ // 菜单项
				text: " 下载",
				callback: function () {
					let id = $('#tarFile').html();
					var location = window.location.href;
					let strings = location.split("moti-cloud");
					if (id != "") {
						window.location.href = strings[0] + "moti-cloud/downloadFile?time=" + new Date().getTime() + "&tip=" + Math.random() * 1000000 + "&fId=" + id;
					} else {
						return;
					}
				}
			},
				{
					text: " 分享",
					callback: function () {
						var location = window.location.href;
						let strings = location.split("moti-cloud");
						$.ajax({
							url: "getQrCode/?id=" + $('#tarFile').html() + "&url=" + strings[0] + "moti-cloud",
							type: "get",
							async: false,
							success: function (data) {
								var txt = "<img src='" + data['imgPath'] + "' style='width: 150px;height: 150px'/><br>" +
										"<input style='width: 80%;font-size: 14px' value='" + data['url'] + "'/>";
								var option = {
									title: "分享你的文件",
								};
								window.wxc.xcConfirm(txt, "custom", option);
							}
						});
					}
				},
				{
					text: " 重命名",
					callback: function () {
						let id = $('.flag td span').html();
						let name = $('.flag td a').html();
						let html = $('.flag td').eq(1).html($('' +
								"<form id='updateFileNameForm' action='updateFileName' method='post'>" +
								"<input id='updateFileName' name='myFileName' autocomplete='off' type='text' onblur='checkUpdateFile()' value='" + name + "'>" +
								"<input type='hidden' name='myFileId' value='" + id + "'>" +
								"</form>" +
								''));
					}
				},
				{
					text: " 删除",
					callback: function () {
						let id = $('#tarFile').html();
						var location = window.location.href;
						let strings = location.split("moti-cloud");
						if (id != "") {
							window.location.href = strings[0] + "moti-cloud/deleteFile?fId=" + id + "&folder=" + $('#nowF').html();
						} else {
							return;
						}
					}
				},
				{
					text: " 在线浏览",
					callback: function () {
						alert("在线浏览");
					}
				}
			]

		});

		function checkUpdateFile() {
			var name = $.trim($("#updateFileName").val());
			var nameReg = /^[^\u4E00-\u9FA5\uF900-\uFA2D\w-_]{2,20}$/;
			if (!nameReg.test(name)) {
				alert("文件夹格式错误！【汉字、字母、数字】");
				var location = window.location.href;
				window.location.href = location;
			} else {
				$('#updateFileNameForm').submit();
			}
		}

</script>
<script src="static/u-admin/dist/modules/jquery.min.js"></script>
<script src="static/u-admin/dist/modules/popper.js"></script>
<script src="static/u-admin/dist/modules/tooltip.js"></script>
<script src="static/u-admin/dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="static/u-admin/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="static/u-admin/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="static/u-admin/dist/js/sa-functions.js"></script>

<script src="static/u-admin/dist/modules/chart.min.js"></script>
<script src="static/u-admin/dist/modules/summernote/summernote-lite.js"></script>

<script src="static/u-admin/dist/js/scripts.js"></script>
<script src="static/u-admin/dist/js/custom.js"></script>
<script src="static/u-admin/dist/js/demo.js"></script>
<script src="static/u-admin/dist/modules/chart.min.js"></script>
</body>
</html>
