<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
	<title>莫提网盘-我的文件</title>

	<link rel="stylesheet" href="static/u-admin/dist/modules/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

	<link rel="stylesheet" href="static/u-admin/dist/modules/summernote/summernote-lite.css">
	<link rel="stylesheet" href="static/u-admin/dist/modules/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="static/u-admin/dist/css/demo.css">
	<link rel="stylesheet" href="static/u-admin/dist/css/style.css">
	<link rel="stylesheet" href="static/plug-ins/context-menu/css/contextMenu.css">
	<link rel="stylesheet" href="static/plug-ins/BeAlert/BeAlert.css">
	<style>
		.files-items{
			margin-top: -20px;
			border-bottom: 1px dashed #bdc3c7;
			border-top: 1px dashed #bdc3c7;
		}
		.files-items:hover{
			background: #F4FBFF;
		}
	</style>

</head>

<body>
<div id="app">
	<div class="main-wrapper">
		<div class="navbar-bg"></div>
		<div th:replace="commons/bar::#top"></div>
		<div th:replace="commons/bar::#sidebar"></div>

		<div class="main-content" id="main">
			<section class="section">
				<h1 class="section-header">
					<div><i class="ion ion-folder"></i> 全部文件 <span style="color: red;font-size: 14px" ></span></div>
				</h1>
				<div class="row">
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="card">
						<div class="card-body">
							<nav aria-label="breadcrumb" class="empty-space">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a style="font-weight: bold" href="/cloud/files">根目录</a>
									</li>
									<li class="breadcrumb-item" v-for="parent in navigates" :key="parent.fileFolderId">

										<a style="font-weight: bold" @click="getFolders(parent.fileFolderId)" href="#">{{parent.fileFolderName}}</a>
									</li>
								</ol>
							</nav>
							<div class="row" style="margin-top: -10px;">
								<div class="col-12 col-sm-12 col-lg-12 table-responsive">
									<table class="table tab-bordered text-nowrap" id="files-table">
										<tr id="files-table-title" class="empty-space">
											<th></th>
											<th>名称</th>
											<th>类型</th>
											<th>扩展名</th>
											<th>大小</th>
											<th>下载次数</th>
											<th>上传时间</th>
										</tr>
										<tr  class="files-items folders" v-for="folder in folders">
											<td><span style="display: none" >{{folder.fileFolderId}}</span><i style="font-size: 24px;color: orange" class="icon ion-android-folder"></i></td>
											<td>
												<a  href="#" @click="getFolders(folder.fileFolderId)" style="font-weight: 700;color: black">{{folder.fileFolderName}}</a>
											</td>
											<td style="font-weight: 300">文件夹</td>
											<td style="font-weight: 300">-</td>
											<td style="font-weight: 300">-</td>
											<td style="font-weight: 300">-</td>
											<td style="font-weight: 300">{{folder.time}}</td>
										</tr>

										<tr  class="files-items files" v-for="f in files">
											<td><span style="display: none" >{{f.myFileId}}</span>

												<template v-if="f.type == 1 ">
													<i style="font-size: 24px;color: #3498db" class="icon ion-document-text"></i>
												</template>

												<template v-if="f.type == 2 ">
													<i style="font-size: 24px;color: #28a745" class="icon ion-image"></i>
												</template>

												<template v-if="f.type == 3 ">
													<i style="font-size: 24px;color: #FFC107" class="icon ion-ios-videocam"></i>
												</template>

												<template v-if="f.type == 4 ">
													<i style="font-size: 24px;color: #dc3545" class="icon ion-ios-musical-notes"></i>
												</template>

												<template v-if="f.type == 5 ">
													<i style="font-size: 24px;color: #343A40" class="icon ion-document"></i>
												</template>
											</td>

											<td>
												<a href="下载" style="font-weight: 700;color: black">{{f.myFileName}}</a>
											</td>



											<template v-if="f.type == 1 ">
												<td style="font-weight: 300">文档</td>
											</template>

											<template v-if="f.type == 2 ">
												<td style="font-weight: 300">图像</td>
											</template>

											<template v-if="f.type == 3 ">
												<td style="font-weight: 300" >视频</td>
											</template>

											<template v-if="f.type == 4 ">
												<td style="font-weight: 300" >音乐</td>
											</template>

											<template v-if="f.type == 5 ">
												<td style="font-weight: 300" >其他</td>
											</template>

											<td style="font-weight: 300">{{f.postfix}}</td>

											<template v-if="f.size >= 1024 ">
												<td style="font-weight: 300">{{f.size/1024 +'MB'}}</td>
											</template>

											<template v-if="f.size < 1024 ">
												<td style="font-weight: 300">{{f.size +'KB'}}</td>
											</template>

											<td style="font-weight: 300">{{f.downloadTime}}次</td>
											<td style="font-weight: 300">{{f.uploadTime}}</td>
										</tr>

									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="float-right">
										<a href="javaScript:addFolderElement()" class="btn btn-sm btn-outline-success"><i class="icon ion-plus"></i> 创建文件夹</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
<!--				<span id="nowF" style="display: none" th:text="${nowFolder.fileFolderId}"></span>-->
<!--				<span id="preF" style="display: none" th:text="${nowFolder.parentFolderId}"></span>-->
				<span id="tarFolder" style="display: none"></span>
				<span id="tarFile" style="display: none"></span>
			</section>
		</div>
		<div th:replace="commons/bar::#footer"></div>
	</div>
</div>
</div>
<script src="static/plug-ins/BeAlert/BeAlert.js"></script>
<script src="static/js/vue@2.6.11.js"></script>
<script src="static/js/axios.min.js"></script>
<script>

	let vm = new Vue({
		el: '#main',
		data: {
			foid: '',
			pid: '', //当前目录的父亲id
			folders: '',
			files: '',
			newFolder:'',
			navigates: ''	//面包屑导航
		},
		mounted: function () {
			this.getFolders(0);
			window.getFolders = this.getFolders;
		},
		methods: {
			getFolders: function (foid) {
				this.foid = foid;
				//并发的异步请求
				axios.all([
					axios.get("/cloud/folder?foid=" + foid),
					axios.get("/cloud/folderParents?foid=" + foid),
					axios.get("/cloud/myfiles?foid="+foid)
				]).then(axios.spread(function (folderResponse, parentsResponse , fileResponse) {
					vm.folders = folderResponse.data.data;
					// vm.pid = folderResponse.data.data[0].parentFolderId;

					vm.navigates = parentsResponse.data.data;
					vm.files = fileResponse.data.data;
					console.log(parentsResponse.data.data);
				}));

				console.log("当前文件夹id: " + this.foid);
			},

		}
	});

	//新建文件夹
	function addFolderElement() {
		//在表格第一行插入
		$("#files-table tr:first").after("<tr class='files-items folders' id='newtr'> <td><span style='display: none'></span><i style='font-size: 24px;color: orange' class='icon ion-android-folder'></i></td>"+
				"<td>" +
				"<input id='newFolder' autocomplete='off' name='fileFolderName' type='text' onblur='checkAddFolder()'>" +
				"</td>"+
				"</tr>");

		$('#newFolder').focus();
	}
	function checkAddFolder() {
		var name = $.trim($("#newFolder").val());
		var nameReg = /^[\u4E00-\u9FA5A-Za-z0-9]{1,20}$/;
		if (!nameReg.test(name)) {

			alert("创建文件夹失败","文件夹格式错误！【汉字、字母、数字】",function () {
				$('#newtr').remove();
				getFolders(vm.foid);
			},{type: 'error',confirmButtonText: '知道了'});

		}else{
			var newFolderName = $('#newFolder').val();
			console.log(newFolderName);
			var newFolder = {"fileFolderName" : newFolderName, "parentFolderId" :vm.foid};
			axios.post('/cloud/addFolder',newFolder).then(function (response) {
				$('#newtr').remove();
				getFolders(vm.foid);
			})
		}
	}


</script>



<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(function () {
		$('.folders').dblclick(function () {
			let id = $(this).children("td").children("span").html();
			var location = window.location.href;
			let strings = location.split("?");
			if (id != ""){
				window.location.href = strings[0]+"?fId="+id;
			}else{
				return;
			}
		});
		$('.files').dblclick(function () {
			let id = $(this).children("td").children("span").html();
			var location = window.location.href;
			let strings = location.split("moti-cloud");
			if (id != ""){
				window.location.href = strings[0]+"moti-cloud/downloadFile?time="+new Date().getTime()+"&tip="+Math.random()*1000000+"&fId="+id;
			}else{
				return;
			}
		});
		$('.folders').hover(function () {
			let id = $(this).children("td").children("span").html();
			$('#tarFolder').html(id);
			$(this).siblings().removeClass('flag');
			$(this).addClass('flag');
		},function () {
		});
		$('.files').hover(function () {
			let id = $(this).children("td").children("span").html();
			$('#tarFile').html(id);
			$(this).siblings().removeClass('flag');
			$(this).addClass('flag');
		},function () {
		});
	});
</script>
<script src="static/plug-ins/context-menu/js/jquery.contextMenu.min.js"></script>
<script src="static/plug-ins/BeAlert/BeAlert.js"></script>
<script>
	$(".files").contextMenu({
		width: 100, // width
		itemHeight: 30, // 菜单项height
		bgColor: "#fff", // 背景颜色
		color: "#333", // 字体颜色
		fontSize: 12, // 字体大小
		hoverBgColor: "#3498db", // hover背景颜色
		target: function(ele) { // 当前元素
			console.log(ele);
		},
		menu: [{ // 菜单项
			text: " 下载",
			callback: function() {
				let id = $('#tarFile').html();
				var location = window.location.href;
				let strings = location.split("moti-cloud");
				if (id != ""){
					window.location.href = strings[0]+"moti-cloud/downloadFile?time="+new Date().getTime()+"&tip="+Math.random()*1000000+"&fId="+id;
				}else{
					return;
				}
			}
		},
			{
				text: " 分享",
				callback: function() {
					var location = window.location.href;
					let strings = location.split("moti-cloud");
					$.ajax({
						url:"getQrCode/?id="+$('#tarFile').html()+"&url="+strings[0]+"moti-cloud",
						type:"get",
						async:false,
						success:function(data){
							var txt=  "<img src='"+data['imgPath']+"' style='width: 150px;height: 150px'/><br>" +
									"<input style='width: 80%;font-size: 14px' value='"+data['url']+"'/>";
							var option = {
								title: "分享你的文件",
							};
							window.wxc.xcConfirm(txt, "custom", option);
						}
					});
				}
			},
			{
				text: " 重命名",
				callback: function() {
					let id = $('.flag td span').html();
					let name = $('.flag td a').html();
					let html = $('.flag td').eq(1).html($('' +
							"<form id='updateFileNameForm' action='updateFileName' method='post'>" +
							"<input id='updateFileName' name='myFileName' autocomplete='off' type='text' onblur='checkUpdateFile()' value='"+name+"'>" +
							"<input type='hidden' name='myFileId' value='"+id+"'>" +
							"</form>" +
							''));
				}
			},
			{
				text: " 删除",
				callback: function() {
					let id = $('#tarFile').html();
					var location = window.location.href;
					let strings = location.split("moti-cloud");
					if (id != ""){
						window.location.href = strings[0]+"moti-cloud/deleteFile?fId="+id+"&folder="+$('#nowF').html();
					}else{
						return;
					}
				}
			},
			{
				text: " 在线浏览",
				callback: function() {
					alert("在线浏览");
				}
			}
		]

	});
	$(".folders").contextMenu({
		width: 100, // width
		itemHeight: 30, // 菜单项height
		bgColor: "#fff", // 背景颜色
		color: "#333", // 字体颜色
		fontSize: 12, // 字体大小
		hoverBgColor: "#3498db", // hover背景颜色
		target: function(ele) { // 当前元素
			console.log(ele);
		},
		menu: [{ // 菜单项
			text: " 打开",
			callback: function() {
				let id = $('#tarFolder').html();
				var location = window.location.href;
				let strings = location.split("?");
				if (id != ""){
					window.location.href = strings[0]+"?fId="+id;
				}else{
					return;
				}
			}
		},
			{
				text: " 返回上一级",
				callback: function() {
					toPreFolder();
				}
			},
			{
				text: " 重命名",
				callback: function() {
					let id = $('.flag td span').html();
					let name = $('.flag td a').html();
					let html = $('.flag td').eq(1).html($('' +
							"<form id='updateFolderForm' action='updateFolder' method='post'>" +
							"<input id='updateFolderName' name='fileFolderName' autocomplete='off' type='text' onblur='checkUpdateFolder()' value='"+name+"'>" +
							"<input type='hidden' name='fileFolderId' value='"+id+"'>" +
							"</form>" +
							''));
				}
			},
			{
				text: " 新建文件夹",
				callback: function() {
					addFolderElement();
				}
			},
			{
				text: " 清空并删除",
				callback: function() {
					let id = $('#tarFolder').html();
					var location = window.location.href;
					let strings = location.split("moti-cloud");
					if (id != ""){
						window.location.href = strings[0]+"moti-cloud/deleteFolder?fId="+id;
					}else{
						return;
					}
				}
			}
		]

	});
	$(".empty-space").contextMenu({
		width: 100, // width
		itemHeight: 30, // 菜单项height
		bgColor: "#fff", // 背景颜色
		color: "#333", // 字体颜色
		fontSize: 12, // 字体大小
		hoverBgColor: "#3498db", // hover背景颜色
		target: function(ele) { // 当前元素
			console.log(ele);
		},
		menu: [
			{
				text: " 新建文件夹",
				callback: function() {
					addFolderElement();
				}
			},
			{
				text: " 返回上一级",
				callback: function() {
					toPreFolder();
				}
			}
		]

	});
	function toPreFolder() {
		var location = window.location.href;
		let strings = location.split("?");
		var pre = $('#preF').html();
		if (pre != ""){
			window.location.href = strings[0]+"?fId="+pre;
		}else{
			return;
		}
	}
	function checkUpdateFolder() {
		var name = $.trim($("#updateFolderName").val());
		var nameReg = /^[\u4E00-\u9FA5A-Za-z0-9]{2,20}$/;
		if (!nameReg.test(name)) {
			alert("文件夹格式错误！【汉字、字母、数字】");
			var location = window.location.href;
			window.location.href = location;
		}else{
			$('#updateFolderForm').submit();
		}
	}
	function checkUpdateFile() {
		var name = $.trim($("#updateFileName").val());
		var nameReg = /^[^\u4E00-\u9FA5\uF900-\uFA2D\w-_]{2,20}$/;
		if (!nameReg.test(name)) {
			alert("文件夹格式错误！【汉字、字母、数字】");
			var location = window.location.href;
			window.location.href = location;
		}else{
			$('#updateFileNameForm').submit();
		}
	}
</script>
<script src="static/u-admin/dist/modules/jquery.min.js"></script>
<script src="static/u-admin/dist/modules/popper.js"></script>
<script src="static/u-admin/dist/modules/tooltip.js"></script>
<script src="static/u-admin/dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="static/u-admin/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="static/u-admin/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="static/u-admin/dist/js/sa-functions.js"></script>

<script src="static/u-admin/dist/modules/chart.min.js"></script>
<script src="static/u-admin/dist/modules/summernote/summernote-lite.js"></script>

<script src="static/u-admin/dist/js/scripts.js"></script>
<script src="static/u-admin/dist/js/custom.js"></script>
<script src="static/u-admin/dist/js/demo.js"></script>
<script src="static/u-admin/dist/modules/chart.min.js"></script>
</body>
</html>
